# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so
a.html
bundle.js
sw.js

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
*.log
*.sql
*.sqlite

# OS generated #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Verification #
google*
BingSiteAuth.xml

# DNS #
CNAME

# Development #
*.old
.#*
assets/style/main.css.map
blog/_template/tmp.md
.sass-cache/
node_modules/
.nyc_output
coverage

# Restricted/reserved #
.htaccess
ncarchive/
cloud/
cal/
cznxtqvn/
czcavnpx/
czshrnw/

# Notes #
notes.txt
